        .app-btn {
  @at-root button#{&} {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  }

  > span {
    @extend %control-style;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: $border-radius;
    background-color: $grey-1;
    color: $blue;

    &:focus {
      outline: none;
    }

    img {
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
    }
  }

  &:hover > span {
    background-color: darken($grey-1, 5%);
  }

  &:active > span {
    background-color: darken($grey-1, 10%);
  }

  &:focus {
    outline: none;

    > span {
      box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.2);
    }
  }
}
