$purple: #7344c0;
$green: #25a95b;
$blue: #4a90e2;
$grey-1: #f6f8fa;
$grey-2: #dcdee4;
$grey-3: #c7c7c7;
$grey-4: #8392a6;

$text-color: #222;

$font-size-base: 15px !default;

$font-size-lg: 17.5px;
$font-size-md: $font-size-base;
$font-size-sm: 12.5px;
$font-size-xs: 9px;

$site-width: 25rem;
$margin-gap: 8px;
$gutter: 20px;

$border-radius: 5px;
