$purple: #7344c0;
$green: #25a95b;
$blue: #4a90e2;
$lightgrey: #f6f8fa;
$grey: #dcdee4;
$darkgrey: #8392a6;

$text-color: #222;

$font-size-base: 16px !default;

$font-size-1: 2rem !default;
$font-size-2: 1.75rem !default;
$font-size-3: 1.5rem !default;
$font-size-4: 1.25rem !default;
$font-size-5: 1rem !default;
$font-size-6: .875rem !default;
$font-size-7: .75rem !default;

$site-width: 40rem;
$margin-gap: 1.5rem;
